MDNEST_USER=ahsan
MDNEST_PASSWORD=changeme
MDNEST_JWT_SECRET=changeme
NOTES_DIR=./notes
FRONTEND_ORIGIN=http://localhost
GIT_REMOTE=git@github.com:youruser/my-brain.git
GIT_AUTHOR_NAME=Your Name
GIT_AUTHOR_EMAIL=you@example.com
